{% extends "padre.html" %}
{%load static%}
{% block contenidoQueCambia %}

<main>
<div class="contenedora" style="text-align: center; padding: 10px; font-family: 'Gentium Book Plus', serif;">
    <div>
        <h1 >About me</h1>
        <h3>Mi nombre es Juan Kaplan y este es mi proyecto Final. Espero les guste!</h3>
        
    <div style="width: 70%;margin-left: 15%; margin-top: 10px; text-align: center;">  
        <p>Mi proyecto es una pagina web la cual actua como una red para compartir textos, historias o lo que quiera el usuario en forma de escritura. Siguiendo la primer consigna de crear un blog, he decidido crear esta alternativa bastante parecida a un blog, siendo un blog mas global para que cualquier usuaria pueda espresar sus cuentos de vida.
           
        </p>
        <p>Trabajando y estudiando a la vez he logrado llegar a este proyecto final que me siento orgulloso de presentar! Ademas de crear historias uno tmb puede crear su perfil, editar el mismo y tambien la pagina cuenta con una encuesta para saber mas sobre sus usuarios. Gracias a esta encuesta, el usuario tambien puede buscar a la gente que la haya completado para conocer a los demas usuarios.
        </p>
    </div>  

    </div>

</div>
</main>

{% endblock %}